img#randomPilt{ /*id=randomPilt*/
    border: 2px solid goldenrod;
    border-radius: 50%;
    width: 300px;
}
input[type = button]{
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    padding: 5px;
    background-color: goldenrod;
}

section#piltSection{
    text-align: center;
}

section#piltSelect{
    text-align: center;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    padding: 5px;
    background-color: darkgoldenrod;
}

h1#header1{
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 5px;
    background-color: goldenrod;
}

h2#header2{
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 5px;
    background-color: goldenrod;
}

div#vastus{
    text-align: center;
    border: 2px solid goldenrod;
    border-radius: 10px;
    padding: 5px;
    background-color: goldenrod;
}