#Lipud{
    position: absolute;
    top: 30px;
    left: 925px;
    text-align: center;
}

/*pseudoelementide kasutamine*/
/*Eesti*/
#Eesti{
    width: 330px;
    height: 210px;
    border: 1px solid lightgray;
    border-spacing: 0;
    position: absolute;
    top: 100px;
    left: 600px;
}

#Eesti tr:nth-child(1){ /* 1. Rida */
    background-color: dodgerblue;
}

#Eesti tr:nth-child(2){ /* 2. Rida */
    background-color: black;
}

#Eesti tr:nth-child(3){ /* 3. Rida */
    background-color: white;
}

/*Taani*/
#Taani{
    width: 330px;
    height: 210px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 100px;
    left: 1000px;
}

#Taani tr:nth-child(1) td:nth-child(1), #Taani tr:nth-child(3) td:nth-child(1){
    /* 1. Rida, 1. Lahter ja 3. Rida, 1. Lahter*/
    background-color: crimson;
    width: 65px;
}

#Taani tr:nth-child(2){
    background-color: white;
    height: 40px;
}

#Taani tr:nth-child(1) td:nth-child(2), #Taani tr:nth-child(3) td:nth-child(2){
    /* 1. Rida, 2. Lahter ja 3. Rida, 2. Lahter */
    background-color: white;
    width: 35px;
}

#Taani tr:nth-child(1) td:nth-child(3), #Taani tr:nth-child(3) td:nth-child(3){
    background-color: crimson;
    height: 75px;
}

#Taani td{
    border: 0px solid lightgray;
}

/*Benin*/
#Benin{
    width: 330px;
    height: 210px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 400px;
    left: 600px;
}

#Benin tr:nth-child(1) td:nth-child(1){
    width: 125px;
    background-color: seagreen;
}

#Benin tr:nth-child(1){
    background-color: gold;
}

#Benin tr:nth-child(2){
    background-color: crimson;
}

#Benin td{
    border: 0px solid lightgray;
}

/*Cote d'Ivoire*/
#Cote\ d\'Ivoire{
    width: 330px;
    height: 210px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 400px;
    left: 1000px;
}

#Cote\ d\'Ivoire tr:nth-child(1) td:nth-child(1){
    background-color: orange;
}

#Cote\ d\'Ivoire tr:nth-child(1) td:nth-child(2){
    background-color: white;
}

#Cote\ d\'Ivoire tr:nth-child(1) td:nth-child(3){
    background-color: seagreen;
}

#Cote\ d\'Ivoire td{
    border: 0px solid lightgray;
}

/* USA */
#USA{
    width: 330px;
    height: 210px;
    border: 1px solid black;
    border-spacing: 0;
    position: absolute;
    top: 700px;
    left: 800px;
}

#USA tr:nth-child(1) td:nth-child(1){
    height: 175px;
}