form{
    text-align: left;
    border-radius: 30px;
}
table, td{
    border-collapse: collapse;
    width: 40%;
    padding: 1%;
    border-radius: 30px;
    background-color: lightgray;

}
input[type=text], input[type=number], input[type=email] {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1%;
}
label{
    font-weight: bold;
}
input[type=radio]:hover{
    background-color: red;
    color: white;
    font-weight: bold;;
    font-size: 20pt;
}
input[type=radio]:hover{

}
input[type=checkbox]+label{
    background-color: lightgray;
    font-size: 10pt;
    padding: 5px;
    width: 60px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    line-height: 40px;
}

input[type=checkbox]+label:hover{
    background-color: red;
    color: white;
    font-weight: bold;
}
input[type=text]:hover{
    background-color: red;
    color: white;
    font-weight: bold;
}