form{
    text-align: left;
    border-radius: 30px;
}
table, td{
    border-collapse: collapse;
    width: 40%;
    padding: 1%;
    border-radius: 30px;
    background-color: lightgray;

}
input[type=text], [input[type=number], input[type=email] {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1%;
}
label{
    font-weight: bold;
}
input[type=radio]:hover{
    background-color: red;
    font-size: 20pt;
    width: 40px;
    height: 20px;
}